# File types #
##############
*.a
*.map
*.hex
*.elf
*.zoul
*.z1
*.bin
*.o

# Files #
#########
symbols.h
symbols.c

# Folders #
###########
Server/obj_zoul
Client/obj_zoul
Cooja/Border Router/obj_z1
Cooja/Cooja Client/obj_z1
Mote/obj_z1
Mote/obj_zoul

