# Contiki Files #
#################
*.hex
*.map
*.bin
*.zoul
*.elf
*.a
*.z1

# Directories #
###############
Server/obj_zoul
Client/obj_zoul
Cooja/Border Router/obj_z1
Cooja/Cooja Client/obj_z1

# Files #
#########
symbols.c
symbols.h

